#section02 {
  height: 100vh;
  padding: 10% 0;

  .about__wrap {
    padding: 0 5% 5%;

    .about__text {
      font-size: 3.6vw;
      color: #A3957F;
      font-family: 'GmarketSans';
      line-height: 1.4;
      font-weight: 700;
      opacity: 0.2;
      margin-left: -5px;

    }
  }
}
.about__img {
  overflow: hidden;
  width: 100%;
}
.about__img__wrap .about__img {
  display: flex;
  flex-wrap: wrap;
  width: 2600px;
  margin-left: -160px;
}
.about__img__wrap .about__img .img {
  width: 700px;
  height: 400px;
  margin: 10px;
  background-position: center;
  background-size: cover;
  // background-color: #fff;

}

.about__img__wrap .about__img .img:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1682687220063-4742bd7fd538?q=80&w=3475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}
.about__img__wrap .about__img .img:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1704187508554-5f38dbbb3495?q=80&w=3384&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}
.about__img__wrap .about__img .img:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1682686581220-689c34afb6ef?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
