#section05 {
  position: relative;
  background: var(--mainBg);
  padding: 10% 5%;

  .work__wrap {
    border-top: 1px solid var(--ivory-op);

    .work__item {
      color: var(--ivory);
      border-bottom: 1px solid var(--ivory-op);
      margin-bottom: 10px;
      padding: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .left {
        width: 60%;

        .work__text {
          font-size: 3vw;
          font-family: var(--gmarket);
          font-weight: 700;
          line-height: 1.3;
          position: relative;

          &::before {
            content: '';
            width: 4vw;
            height: 4vw;
            background-color: var(--green);
            border-radius: 1500px 0;
            position: absolute;
            left: -3.5vw;
            top: -2.5vw;
          }
        }

        .work__info {
          margin-top: 20px;

          a {
            display: block;
            font-family: var(--abel);
          }
        }
      }

      .right {
        width: 35%;
        height: 500px;


        .work__img {
          width: 100%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 90%;
            background-position: center center;
            background-size: contain;
          }
        }
      }
    }
  }
}