#section05 {
    position: relative;
    z-index: 200;
    background-color: var(--mainBg);
    padding: 10% 5%;
  }
  .work__wrap {
    border-top: 1px solid var(--ivory-op);
  }
  .work__item {
    color: var(--ivory);
    margin-bottom: 10px;
    padding: 10%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--ivory-op);
    width: 100%;
    height: 100%;
  }
  .work__mask {
    position: absolute;
    font-size: 3vw;
    color: var(--black);
    font-family: var(--gmarket);
    font-weight: 500;
    padding-top: 8px;
    margin-left: -5px;
    width: 40%;
    word-break: keep-all;

    mask-image: url(../../img/mask.svg);
    mask-size: 50px;
    mask-repeat: no-repeat;
    background-color: var(--green);
    cursor: default;
    width: 100%;
    height: 100%;
  }
  .work__item .left {
    width: 60%;
  }
  .work__text {
    position: relative;
    font-size: 3vw;
    font-family: var(--gmarket);
    font-weight: 700;
    margin-left: -5px;
  }
  .work__text .dot {
    position: absolute;
    left: -13%;
    top: -15%;
  }