#section07 {
    position: relative;
    z-index: 10000;
    background: var(--mainBg);
    padding: 5%;

    .contact__wrap {
        font-family: var(--gmarket);
        text-transform: capitalize;
        display: flex;

        ul {
            margin-right: 80px;

            li {
                line-height: 1.8;
                padding-left: 20px;
                position: relative;

                &::before {
                    content: '';
                    border-left: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-right: 10px solid var(--green);
                    position: absolute;
                    left: -10px;
                    top: 10px;
                }

                a {
                    color: var(--ivory);
                    opacity: 0.8;
                    font-weight: 500;

                    &:hover {
                        color: var(--ivory);
                        opacity: 1;
                    }

                    em {
                        color: #6b6253;
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    .contact__copy {
        color: #6b6253;
        margin-top: 100px;
    }
}