#section03 {
    position: relative;
    z-index: 200;
    // padding: 10% 0 15%; 
    padding: 5% 0;
    background-color: var(--mainBg);
    margin-top: 20vh;
  }
  .stack__wrap .small {
    padding: 0 5%;
  }
  .stack__wrap ul {
    border-top: 1px solid var(--ivory-op);
  }
  .stack__wrap li {
    border-bottom: 1px solid var(--ivory-op);
    color: var(--ivory);
    font-family: var(--gmarket);
    font-weight: bold;
    font-size: 7vw;
    padding-left: 5%;
    margin-left: -8px;
    line-height: 0.7;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding-top: 1.4vw;
    text-transform: uppercase;
  }
  
  .stack-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--green);
    z-index: -1;
  }
  .tech__desc {
    font-size: 1.2rem;
    padding-right: 5%;
    font-weight: 500;
    line-height: 1.2;
    color: var(--mainBg);
    padding-left: 40px;
    display: flex;
    align-items: center;

    >div {
      display: inline-block;
      margin-top: -15px;
    }
  }